@import "tailwindcss";

.font-design{
  font-family: "Inter", sans-serif;
}
.nav-list{
  list-style: none;
}
.nav-wave{
 background: linear-gradient(to top, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-primary{
  background:linear-gradient(to left, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1)) ;
  padding: 8px 20px 8px 16px;
  margin-top: 5px;
}
.btn-primary:hover{
  background-color: aqua;
}
/* Banner Styles */
.banner-container{
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  margin-top: 4rem;
}
.banner-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-circle{
  position: relative;
  max-width: 100%;
}
.banner-mic{
  position: absolute;
  margin-left: 9px;
  max-width: 100%;
}
.new{
  right: 38%;
  top: 25%;
}
.choose-column{
  background-color:  rgba(53, 17, 101, 0.4);
}
/* .episodes{
  border: 2px solid red;
} */
/* Responsive Design */
@media screen and (max-width:576px) {
  .banner-container{
    background-size: contain;
    background-position: top;
  }
  .banner-circle{
    width: 50%;
  }
  .banner-mic{
    width: 20%;
  }
  .new{
    width: 15%;
    right: 25%;
    top: 14%;
  }
  .host{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* .icons{
    justify-content: center;
  } */
}